.btn{
    display:inline-block;
    padding:10px 20px;
    font-size:18px;
    line-height:20px;
    background-color: #EA1E63;
    border-radius: 2px;
    color:#ffffff;
    text-transform: capitalize;
    box-shadow: 0 1px 3px #0006;
    transition: all 0.2s;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(240, 118, 158);
    box-shadow: 0 1px 2px #000a;


}