form{
    display: inline-block;
    width: 100%;

}
    form > input,
    form > textarea{
        display: inline-block;
        width: 100%;
        padding:5px 0;
        float:left;
        margin-bottom:30px;
        font-size:16px;
        line-height:24px;
        color:#555;
        border:none;
        border-bottom:1px solid #555;



    }
    form > textarea {
        min-height:100px;
        max-height: 0px;
        resize:vertical;
        height:320px;
    }
    form:focus{
        outline-color: none;
    }

    @media (min-width: 1100px) {
        form > input{
            width: 45%;
        }
        form > input:nth-of-type(2){
            margin-left:10%;
        }
    }